.request{'data-uri' => request.uri, 'data-date' => request.created_at.to_date}
  .ip
    %label IP:
    .value= link_to request.ip, "http://whatismyipaddress.com/ip/#{request.ip}"
  .referer
    %label Referer:
    .value= link_to request.referer, request.referer if request.referer
  .agent
    %label Agent:
    .value= request.agent.gsub(') ', ')<br />') rescue nil
  .uri
    %label URI:
    .value= link_to request.uri, request.uri
  .time
    %label Time:
    .value= Time.parse(request.created_at.to_s).getlocal.strftime("%b %e %Y, %l:%M %p")

