!!! 5
%html{'ng-app' => 'Benlog'}

  %head
    %title Ben Shymkiw - iamsolarpowered
    %link{rel: "shortcut icon", href: "/favicon.ico"}
    = stylesheet_link_tag 'http://t.apio.ca/bootstrap/css/bootstrap.min.css'
    = stylesheet_link_tag 'application'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'application'

  %body
    .container
      .row

        #sidebar.span4
          = render 'about'
          = render 'news'

        #main.offset1.span7
          = render 'tweets'